---
- name: Debian | install sources.list
  template:
    src: "etc/apt/sources.list.{{ ansible_distribution | lower }}.j2"
    dest: /etc/apt/sources.list
    owner: root
    group: root
    mode: 0644
  tags: common_tools_install_sources_list

- name: Debian | apt-get update
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Debian | Install base packages
  apt:
    pkg: "{{ item }}"
  with_items:
    - software-properties-common
    - curl
    - tmux
    - python2.7-psycopg2
    - git
    - unzip
    - unrar
    - aptitude
    - wget
    - python-dev
    - python-pip
    - python-setuptools
    - hdparm
    - iftop
    - iotop
    - netcat
    - openssl
    - smartmontools
    - sysstat
    - telnet
    - vim
    - nano
    - sudo
    - iptables
  tags:
    - common_tools_install_base_packages

- name: Debian | Install additional packages
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - dbus
    - mlocate
    - htop
    - lshw
    - ngrep
    - pv
    - tcpdump
    - whois
    - ethtool
    - strace
    - rsync
    - mc
    - tree
  tags:
    - common_tools_install_additional_packages
  when: common_tools_install_additional_packages

- name: Debian | Install zsh packages
  apt:
    name: zsh
    state: present
  when: common_tools_install_zsh
  tags:
    - common_tools_install_zsh

- name: Debian | Ensure the system can use the HTTPS transport for APT
  stat:
     path: /usr/lib/apt/methods/https
  register: apt_https_transport
  tags:
    - common_tools_install_apt_https_transport

- name: Debian | Install HTTPS transport for APT
  apt:
    pkg: apt-transport-https
  when: not apt_https_transport.stat.exists
  tags:
    - common_tools_install_apt_https_transport
