---

- include: Debian.yml
  when: ansible_os_family == "Debian"

- name: Assures /etc/sudoers.d/ dir exists
  file:
    path: /etc/sudoers.d/
    state: directory
    owner: root
    group: root
    mode: 0755
  tags:
    - common_tools_configure_ssh_agent

- name: make sure ssh-agent works via sudo
  template:
    src: etc/sudoers.d/ssh-agent.conf.j2
    dest: /etc/sudoers.d/sudo-ssh-agent.conf
    owner: root
    group: root
    mode: 0644
  tags:
    - common_tools_configure_ssh_agent

- name: install tmux.conf
  template:
    src: etc/tmux.conf.j2
    dest: /etc/tmux.conf
    owner: root
    group: root
    mode: 0644
  tags:
    - common_tools_install_tmux_conf

- name: install skel bashrc
  template:
    src: etc/skel/.bashrc
    dest: /etc/skel/.bashrc
    owner: root
    group: root
    mode: 0644
  tags:
    - common_tools_install_bashrc
